/* features */

.features {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.features__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  color: $secondary-text-color;
}

.features__items {
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * 30px) / 4);
  }
}

.features__icons {
  @include flexJA();
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: $background-color-grey;
}