.page-header {
  border-bottom: 1px solid #ECECEC;
}

/* logo */

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  // font-size: 26px;
  line-height: 1.19;
  color: $accent-color;

  padding: 16px 0;

  &--black {
    color: #000;
  }

  &--white {
    color: #fff;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
  }

  @media screen and (min-width: 768px) {
    padding: 26px 0;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  padding: 0;
}

/* navigation */

 .main-nav {
   display: flex;
   align-items: center;
 }

.main-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $main-text-color;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  transition: color $transition;

    &--grey {
      color: $secondary-text-color;
    }

    &--current {
      position: relative;
      color: $accent-color;
    }

    &--current::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      bottom: 0;
    
      border-bottom: 4px solid $accent-color;
      border-radius: 4px;
    }

    &:hover,
    &:focus {
      color: $accent-color;
    }
}

.main-nav__menu {
  display: flex;
  margin: 0 84px;

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    margin-right: 0;
  }

  .main-nav__item:not(:last-child) {
      margin-right: 50px;
    }
}



.main-nav__contacts {
  display: flex;
    @media screen and (max-width: 1199px) {
      flex-direction: column;
      padding: 21px 0;
    }

    @media screen and (min-width: 1200px) {
      margin-left: auto;
    }

  .main-nav__link {
    @media screen and (max-width: 1199px) {
      padding: 0;
      font-size: 12px;
    }
  }

  .main-nav__item:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
}

.main-nav__icon {
  margin-right: 8px;
  vertical-align: middle;
  fill: currentColor;

  @media screen and (min-width: 1200px) {
   margin-right: 10px;
  }
}

.main-nav__menu-button {
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: fill $transition;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {

  width: 100%;

  @media screen and (max-width: 768px) {
    display: none;
  }
  
  @media screen and (min-width: 768px) {
    display: flex;
  }
}